* {
  box-sizing: border-box;
}

/*---------------------------------VARIABLES----------------------------------*/
:root {
  --text-color-base: #000;                            /* Colors */
  --text-color-on-primary-secondary-colors: #fff;
  --primary-color: #4abdac;
  --secondary-color: #f7b733;
  --neutral-color: #dfdce3;
  --effects-color: #fc4a1a;
  --submit-button-background-color: #fff;
  --footer-background-color: #dfdce3;
  --footer-text-color: #000;
  --hover-transition-duration: 0.3s;                   /* hover transitions */
  --pages-margin: 5vh 5vh 5vh 5vh;                    /* margins-padding */
  --pages-top-margin: 5vh;
  --pages-bottom-margin: 15vh;
  --general-margins-padding: 5%;
}

/*--------------------------------HOVER EFFECTS-------------------------------*/
.link-span:hover {
  color: var(--secondary-color);
  transition-duration: var(--hover-transition-duration);
}

.code:hover, .magnifing-glass:hover {
  fill: #fc4a1a;
  transition-duration: var(--hover-transition-duration);
}

.code, .magnifing-glass {
  fill: var(--secondary-color);
}

/*---------------------------------OVERALL FEATURES---------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-base);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 23px;
}

a,
p,
th,
label,
textarea,
input {
  font-size: 20px;
}

#send-message-button,
#message,
#email,
#submit {
  font-family: inherit;
}

/*------------------------------------ANIMATIONS------------------------------*/
@keyframes show-up {
  0% {
    background-color: #fff;
    opacity: 1;
  }

  100% {
    background-color: #fff;
    opacity: 0;
  }
}

/*----------------------------------COMMON PAGE LAYOUT------------------------*/
.page {
  display: grid;
  height: 100vh;
  grid-template-rows: 25vh auto;
}

header {
  margin-top: 5vh;
  background-color: var(--primary-color);
  color: var(--text-color-on-primary-secondary-colors);
  padding: 2%;
}

.header-container {
  display: grid;
  grid-template-rows: auto auto;
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.favicon {
  height: 10vh;
  width: auto;
  margin-left: 3vh;
}

.navigation-link-container {
  height: auto;
  float: right;
  margin-right: 3vh;
  text-decoration: none;
}

.internal-link {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
  font-size: 30px;
}

.link-span {
  background-color: inherit;
}

/*---------------------------HOMEPAGE-----------------------------------------*/
.middle-home {
  display: grid;
  max-width: 500px;
  margin: 5vh auto auto auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

.middle-text-container-home {
  z-index: -1;
  margin: 5vh auto 5vh auto;
  grid-column: 3/7;
  grid-row: 1/2;
}

.welcome-text {
  text-align: center;
}

.middle-image-container-home {
  z-index: -1;
  margin: auto;
  grid-column: 2/8;
  grid-row: 2/8;
}

#author-image {
  max-width: 500px;
  max-height: 500px;
  height: 50vh;
  width: auto;
  border-radius: 50%;
}



.effect-matrix-2-3-2-3 {
  grid-row: 2/3;
  grid-column: 2/3;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.effect-matrix-3-4-2-3 {
  grid-row: 3/4;
  grid-column: 2/3;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1.25s;
}

.effect-matrix-4-5-2-3 {
  grid-row: 4/5;
  grid-column: 2/3;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.effect-matrix-5-6-2-3 {
  grid-row: 5/6;
  grid-column: 2/3;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1.25s;
}

.effect-matrix-6-7-2-3 {
  grid-row: 6/7;
  grid-column: 2/3;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.effect-matrix-7-8-2-3 {
  grid-row: 7/8;
  grid-column: 2/3;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1.25s;
}

.effect-matrix-2-3-3-4 {
  grid-row: 2/3;
  grid-column: 3/4;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.25s;
}

.effect-matrix-3-4-3-4 {
  grid-row: 3/4;
  grid-column: 3/4;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.effect-matrix-4-5-3-4 {
  grid-row: 4/5;
  grid-column: 3/4;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.25s;
}

.effect-matrix-5-6-3-4 {
  grid-row: 5/6;
  grid-column: 3/4;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.effect-matrix-6-7-3-4 {
  grid-row: 6/7;
  grid-column: 3/4;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.25s;
}

.effect-matrix-7-8-3-4 {
  grid-row: 7/8;
  grid-column: 3/4;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.effect-matrix-2-3-4-5 {
  grid-row: 2/3;
  grid-column: 4/5;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.effect-matrix-3-4-4-5 {
  grid-row: 3/4;
  grid-column: 4/5;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.75s;
}

.effect-matrix-4-5-4-5 {
  grid-row: 4/5;
  grid-column: 4/5;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.effect-matrix-5-6-4-5 {
  grid-row: 5/6;
  grid-column: 4/5;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.75s;
}

.effect-matrix-6-7-4-5 {
  grid-row: 6/7;
  grid-column: 4/5;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.effect-matrix-7-8-4-5 {
  grid-row: 7/8;
  grid-column: 4/5;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.75s;
}

.effect-matrix-2-3-5-6 {
  grid-row: 2/3;
  grid-column: 5/6;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.75s;
}

.effect-matrix-3-4-5-6 {
  grid-row: 3/4;
  grid-column: 5/6;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.effect-matrix-4-5-5-6 {
  grid-row: 4/5;
  grid-column: 5/6;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.75s;
}

.effect-matrix-5-6-5-6 {
  grid-row: 5/6;
  grid-column: 5/6;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.effect-matrix-6-7-5-6 {
  grid-row: 6/7;
  grid-column: 5/6;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.75s;
}

.effect-matrix-7-8-5-6 {
  grid-row: 7/8;
  grid-column: 5/6;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.effect-matrix-2-3-6-7 {
  grid-row: 2/3;
  grid-column: 6/7;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.effect-matrix-3-4-6-7 {
  grid-row: 3/4;
  grid-column: 6/7;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.25s;
}

.effect-matrix-4-5-6-7 {
  grid-row: 4/5;
  grid-column: 6/7;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.effect-matrix-5-6-6-7 {
  grid-row: 5/6;
  grid-column: 6/7;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.25s;
}

.effect-matrix-6-7-6-7 {
  grid-row: 6/7;
  grid-column: 6/7;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.effect-matrix-7-8-6-7 {
  grid-row: 7/8;
  grid-column: 6/7;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0.25s;
}

.effect-matrix-2-3-7-8 {
  grid-row: 2/3;
  grid-column: 7/8;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1.25s;
}

.effect-matrix-3-4-7-8 {
  grid-row: 3/4;
  grid-column: 7/8;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.effect-matrix-4-5-7-8 {
  grid-row: 4/5;
  grid-column: 7/8;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1.25s;
}

.effect-matrix-5-6-7-8 {
  grid-row: 5/6;
  grid-column: 7/8;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.effect-matrix-6-7-7-8 {
  grid-row: 6/7;
  grid-column: 7/8;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 1.25s;
}

.effect-matrix-7-8-7-8 {
  grid-row: 7/8;
  grid-column: 7/8;
  z-index: 1;
  animation: show-up 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
}


/*---------------------------WORKPAGE-----------------------------------------*/
.middle-work {
  margin: var(--pages-margin);
  display: grid;
}

.middle-container-work {
  width: 100%;
  max-width: 900px;
  margin: 5vh auto auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project {
  min-height: 280px;
  min-width: 280px;
  display: grid;
  grid-template-rows: 30% 50% 20%;
  margin: 5vh;
  padding: var(--general-margins-padding) var(--general-margins-padding) 0 var(--general-margins-padding);
  text-align: justify;
  color: #fff;
}

.project-title{
  text-align: center;
}

.tags {
  margin: 5vh 0 5vh 0;
}

.code, .magnifing-glass {
  height: 40px;
  width: 40px;
}

#bud-spencer-movies {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/budspencermovies-min.png");

}

#to-do-app {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/todolist-min.png");
}

#my-awesome-quiz-app {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/myawesomequizapp-min.png");
  background-position: top;
}

#pokedex {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/pokedex-min.png");
  background-position: top;
}

#codepen-playground {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/svg-playground-min.png");
  background-position: top;
}

#github-repositories {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/github.png");
  background-repeat: no-repeat;
  background-position: center;
}

#portfolio {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/portfolio-min.png");
}

#shockley {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("../img/shockley-min.png");
}

/*---------------------------ABOUTPAGE----------------------------------------*/
.middle-about {
  margin: var(--pages-margin);
}

.middle-container-about {
  max-width: 900px;
  margin: 5vh auto auto auto;
  padding: var(--general-margins-padding);
  display: grid;
  grid-template-rows: auto auto;
  text-align: justify;
}

.skills-container {
  display: flex;
  max-width: 600px;
  margin: 10vh auto 5vh auto;
  flex-wrap: wrap;
  justify-content: center;
}

.about-img {
  margin: 20px;
  height: 90px;
  width: auto;
}


/*---------------------------CONTACTPAGE--------------------------------------*/
.middle-contact {
  display: grid;
  margin: var(--pages-margin);
}

.middle-contact-container {
  max-width: 900px;
  margin: auto;
}

#skype-adress,
#email-adress {
  text-decoration: none;
  color: var(--text-color-base);
}

/*----------------------------------MEDIA QUERIES-----------------------------*/
@media only screen and (max-width: 780px) {
  .middle-container-work {
    grid-template-columns: 1fr;
    max-width: 400px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  a,
  p,
  th,
  label,
  textarea,
  input {
    font-size: 19px;
  }


  #favicon {
    height: 10vh;
    width: auto;
  }

  .internal-link {
    font-size: 25px;
  }

  .project {
    margin: 5vh 0 5vh 0;
  }

  .tags {
    margin: 2vh 0 2vh 0;
  }

  .about-img {
    margin: 15px;
    height: 80px;
    width: auto;
  }

  .skills-container {
    max-width: 500px;
  }

}

@media only screen and (max-width: 500px) {

  .page {
    grid-template-rows: 22vh auto;
  }

  .middle-text-container-home {
    margin: auto auto 5vh auto;
    padding: 0 7% 0 7%;
  }

  .middle-container-work {
    grid-template-columns: auto;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  a,
  p,
  th,
  label,
  textarea,
  input {
    font-size: 15px;
  }

  #author-image {
    width: 70vw;
    height: auto;
  }


  .favicon {
    height: 10vh;
    width: auto;
  }

  .internal-link {
    font-size: 15px;
  }

  .about-img {
    margin: 10px;
    height: 60px;
    width: auto;
  }

  .skills-container {
    max-width: 300px;
  }
}
