* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {                                               /* VARIABLES */                            /* Colors */                   /* hover transitions */                    /* margins-padding */
}

.link-span:hover {                                     /* Hover effects */
  color: #f7b733;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.standard-button:hover {
  background-color: #fc4a1a;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.standard-button {
  border: none;
  background-color: #f7b733;
  color: #fff;
  margin: auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

a,
p,
th,
label,
textarea,
input {
  font-size: 20px;
}

#send-message-button,
#message,
#email,
#submit {
  font-family: inherit;
}

@-webkit-keyframes show-up {                                 /* Animation @Home-page */
  0% {
    background-color: #fff;
    opacity: 1;
  }

  25% {
    background-color: #fff;
    opacity: 0.75;
  }

  50% {
    background-color: #fff;
    opacity: 0.5;
  }

  75% {
    background-color: #fff;
    opacity: 0.25;
  }

  100% {
    background-color: #fff;
    opacity: 0;
  }
}

@keyframes show-up {                                 /* Animation @Home-page */
  0% {
    background-color: #fff;
    opacity: 1;
  }

  25% {
    background-color: #fff;
    opacity: 0.75;
  }

  50% {
    background-color: #fff;
    opacity: 0.5;
  }

  75% {
    background-color: #fff;
    opacity: 0.25;
  }

  100% {
    background-color: #fff;
    opacity: 0;
  }
}

.page {                                                       /* Page-Layouts */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 240px auto 100px;
  grid-template-rows: 240px auto 100px;
}

header {
  background-color: #4abdac;
  color: #fff;
  padding: 2%;
}

.header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
  grid-template-rows: 40% 60%;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header-top {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.favicon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.favicon-text {
  font-size: 25px;
}

#favicon {
  height: 65px;
  width: 65px;
  margin-right: 5px;
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 500px;
}

.navigation-link-container {
  text-decoration: none;
  margin: auto 0 auto auto;
}

.internal-link {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}

.link-span {
  background-color: inherit;
}

.header-bottom {
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.middle-home {                                           /* Homepage */
  display: -ms-grid;
  display: grid;
  height: 90vmin;
  width: 90vmin;
  max-width: 600px;
  max-height: 600px;
  margin: 5vh auto 15vh;
  -ms-grid-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
  -ms-grid-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
}

.middle-home > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.middle-home > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.middle-home > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.middle-home > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.middle-home > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.middle-home > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.middle-home > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.middle-home > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.middle-home > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.middle-home > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.middle-home > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.middle-home > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.middle-home > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.middle-home > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.middle-home > *:nth-child(15) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.middle-home > *:nth-child(16) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}

.middle-home > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.middle-home > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.middle-home > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.middle-home > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.middle-home > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.middle-home > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.middle-home > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.middle-home > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.middle-home > *:nth-child(25) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.middle-home > *:nth-child(26) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.middle-home > *:nth-child(27) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.middle-home > *:nth-child(28) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.middle-home > *:nth-child(29) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.middle-home > *:nth-child(30) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.middle-home > *:nth-child(31) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.middle-home > *:nth-child(32) {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
}

.middle-home > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.middle-home > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.middle-home > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.middle-home > *:nth-child(36) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.middle-home > *:nth-child(37) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.middle-home > *:nth-child(38) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.middle-home > *:nth-child(39) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.middle-home > *:nth-child(40) {
  -ms-grid-row: 5;
  -ms-grid-column: 8;
}

.middle-home > *:nth-child(41) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.middle-home > *:nth-child(42) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.middle-home > *:nth-child(43) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.middle-home > *:nth-child(44) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.middle-home > *:nth-child(45) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.middle-home > *:nth-child(46) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}

.middle-home > *:nth-child(47) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}

.middle-home > *:nth-child(48) {
  -ms-grid-row: 6;
  -ms-grid-column: 8;
}

.middle-home > *:nth-child(49) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.middle-home > *:nth-child(50) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}

.middle-home > *:nth-child(51) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.middle-home > *:nth-child(52) {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}

.middle-home > *:nth-child(53) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.middle-home > *:nth-child(54) {
  -ms-grid-row: 7;
  -ms-grid-column: 6;
}

.middle-home > *:nth-child(55) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.middle-home > *:nth-child(56) {
  -ms-grid-row: 7;
  -ms-grid-column: 8;
}

.middle-home > *:nth-child(57) {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
}

.middle-home > *:nth-child(58) {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
}

.middle-home > *:nth-child(59) {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
}

.middle-home > *:nth-child(60) {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
}

.middle-home > *:nth-child(61) {
  -ms-grid-row: 8;
  -ms-grid-column: 5;
}

.middle-home > *:nth-child(62) {
  -ms-grid-row: 8;
  -ms-grid-column: 6;
}

.middle-home > *:nth-child(63) {
  -ms-grid-row: 8;
  -ms-grid-column: 7;
}

.middle-home > *:nth-child(64) {
  -ms-grid-row: 8;
  -ms-grid-column: 8;
}

.middle-image-container-home {
  margin: auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2/8;
}

#author-image {
  margin: auto;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.effect-matrix-2-3-2-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.effect-matrix-3-4-2-3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.effect-matrix-4-5-2-3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.effect-matrix-5-6-2-3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.effect-matrix-6-7-2-3 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.effect-matrix-7-8-2-3 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.effect-matrix-2-3-3-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.effect-matrix-3-4-3-4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.effect-matrix-4-5-3-4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.effect-matrix-5-6-3-4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.effect-matrix-6-7-3-4 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.effect-matrix-7-8-3-4 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.effect-matrix-2-3-4-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.effect-matrix-3-4-4-5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.effect-matrix-4-5-4-5 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.effect-matrix-5-6-4-5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.effect-matrix-6-7-4-5 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.effect-matrix-7-8-4-5 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.effect-matrix-2-3-5-6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.effect-matrix-3-4-5-6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.effect-matrix-4-5-5-6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.effect-matrix-5-6-5-6 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.effect-matrix-6-7-5-6 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.effect-matrix-7-8-5-6 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.effect-matrix-2-3-6-7 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.effect-matrix-3-4-6-7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.effect-matrix-4-5-6-7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.effect-matrix-5-6-6-7 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.effect-matrix-6-7-6-7 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.effect-matrix-7-8-6-7 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.effect-matrix-2-3-7-8 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.effect-matrix-3-4-7-8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.effect-matrix-4-5-7-8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.effect-matrix-5-6-7-8 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.effect-matrix-6-7-7-8 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.effect-matrix-7-8-7-8 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  z-index: 1;
  -webkit-animation: show-up 1s;
  animation: show-up 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.middle-work {                                             /* Work page */
  margin: 5vh 5vw 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-container-work {
  padding: 5%;
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.middle-container-work > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.middle-container-work > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.middle-container-work > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.middle-container-work > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  margin: 5%;
  padding: 5%;
  background-color: #dfdce3;
  text-align: justify;
}

#portfolio-page {
  color: #fff;
  background-color: #4abdac;
}

.project-title {
  text-align: center;
}

.project-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-about {                                             /* About page */
  margin: 5vh 5vw 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-container-about {
  max-width: 900px;
  margin: auto;
  padding: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: justify;
}

.middle-text-about {
  margin-bottom: 5%;
}

.table-about {
  margin-bottom: 5%;
}

.table-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.table-about > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.table-about > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.table-about > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.table-about > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.table-about > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.table-about > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.table-about > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.table-about > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.table-about > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.table-about > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.table-about > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.table-about > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.table-about > *:nth-child(13) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.table-about > *:nth-child(14) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.table-about > *:nth-child(15) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.table-about > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.table-title {
  text-align: center;
  background-color: #dfdce3;
}

.table-entry {
  text-align: center;
  background-color: #dfdce3;
}

.middle-contact {                                        /* Contact page */
  margin: 5vh 5vw 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-contact-container {
  width: 100%;
  max-width: 900px;
  padding: 5%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.adress {
  padding: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}

#skype-adress {
  text-decoration: none;
  color: #000;
}

#email-adress {
  text-decoration: none;
  color: #000;
}

.contact-form {
  margin-top: 5%;
  padding: 2%;
  background-color: #dfdce3;
}

#feedback-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 1fr 1fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
}

#feedback-form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#feedback-form > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

#feedback-form > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#feedback-form > *:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

#feedback-form > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

label {
  padding-left: 2%;
}

input {
  margin-bottom: 2%;
}

footer {                                                    /* Footer */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100%;
  color: #000;
  background-color: #dfdce3;
}

.footer-text {
  margin: auto;
}

.footer-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-img {
  margin: auto;
}

#facebook-logo,
#github-logo,
#codepen-logo {
  height: 30px;
  width: auto;
}

@media only screen and (max-width: 750px) {               /* Media queries */
  .middle-container-work {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  a,
  p,
  th,
  label,
  textarea,
  input {
    font-size: 17px;
  }

  .standard-button {
    padding: 12px 26px;
    font-size: 17px;
  }

  .favicon-text {
    font-size: 17px;
  }

  #favicon {
    height: 50px;
    width: 50px;
  }

  .internal-link {
    font-size: 17px;
  }

  .page {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 180px auto 80px;
    grid-template-rows: 180px auto 80px;
  }
}

@media only screen and (max-width: 500px) {
  .middle-container-work {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 12px;
  }

  a,
  p,
  th,
  label,
  textarea,
  input {
    font-size: 11px;
  }

  .standard-button {
    padding: 10px 20px;
    font-size: 11px;
  }

  .favicon-text {
    font-size: 13px;
  }

  #favicon {
    height: 30px;
    width: 30px;
  }

  .internal-link {
    font-size: 13px;
  }

  .page {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 130px auto 70px;
    grid-template-rows: 130px auto 70px;
  }

  .header-top {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }
}
